<!DOCTYPE html>
<html>
<head>
    <title>Diffind search</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
<header>
    <a href="#"><img class="header-logo" src="img/logo91_33.png" alt="Google logo" /></a>
    <input class="searchbar" type="text" name="searchbar" value="build this webpage" />
    <a href="#"><img class="voice" src="img/google-voice.png" alt="voice" /></a>
    <a href="#"><div class="submit"><img class="magnifier" src="img/loupe.png" alt="submit" /></div></a>
    <ul class="h-image">
        <li><a href="#"><img class="grid" src="img/google-grid.png" alt="grid" /></a></li>
        <li><a href="#"><img class="bell" src="img/google-bell.png" alt="bell" /></a></li>
    </ul>
</header>
<nav>
    <ul class="navbar">
        <li><a class="navbutton" href="#">Web</a></li>
        <li><a class="navbutton" href="#">Video's</a></li>
        <li><a class="navbutton" href="#">Shopping</a></li>
        <li><a class="navbutton" href="#">Afbeeldingen</a></li>
        <li><a class="navbutton" href="#">Nieuws</a></li>
        <li><a class="navbutton" href="#">Meer</a></li>
        <li><a class="navbutton" href="#">Zoekhulpmiddelen</a></li>
    </ul>
    <button class="button1" type="submit" name="private"><img class="private" src="img/private.gif" alt="private" /></button>
    <button class="button2" type="submit" name="global"><img class="global" src="img/global.gif" alt="global" /></button>
    <button class="button3" type="submit" name="gear"><img class="gear" src="img/gear.gif" alt="gear" /></button>
</nav>
<section>
    <p class="search-numbers">找到约 1,900,000,000 条结果 （用时 0.47 秒）</p>
    <div class="search-results-container">
        <ul class="search-results">
            <li class="main-link"><a href="#">With zero coding experience, artist building 180 webpages ...</a></li>
            <li class="second-link">arstechnica.com/.../with-zero-coding-experience-artis...<a class="vertaal" href="#">Vertaal deze pagina</a></li>
            <li class="description"><span class="date">26 jul. 2013 -</span> One of Jennifer Dewalt's creations, <span class="span-em">this webpage</span> lets visitors create paintings in ... <span class="span-em">Build</span> a different <span class="span-em">website</span> every day for 180 consecutive days.</li>
            <li class="visit">U heeft deze pagina 2 keer bezocht. Laatste bezoek: 28-9-15</li>
        </ul>
        <ul class="search-results-2">
            <li class="main-link"><a href="#">build this website - Google Search</a></li>
            <li class="second-link">kleopetrov.com/google/<a class="vertaal" href="#">Vertaal deze pagina</a></li>
            <li class="description">www.codecademy.com/courses/web-beginner-en-LceTK Codecademy. <span class="span-em">Build</span> Your Own <span class="span-em">Webpage</span>. What you'll be making. Before we ask you to write a bunch of ...</li>
            <li class="visit"></li>
        </ul>
        <ul class="search-results-3">
            <li class="main-link"><a href="#">Build Your Own Webpage | Codecademy</a></li>
            <li class="second-link">https://www.codecademy.com/.../web-beginner-en-L...<a class="vertaal" href="#">Vertaal deze pagina</a></li>
            <li class="description"><span class="span-em">Build</span> Your Own <span class="span-em">Webpage</span>. What you'll be making. Before we ask you to write a bunch of code, we think it's helpful for you to see exactly what you'll be making in ...</li>
            <li class="visit"></li>
        </ul>
        <ul class="search-results-4">
            <li class="main-link"><a href="#">How Do We Know They Need This Webpage? | Inc.com</a></li>
            <li class="second-link">www.inc.com/...<span class="span-link">build</span>.../how-do-we-know-they-need-... -<a class="vertaal-link" href="#">Vertaal deze pagina</a></li>
            <li class="description"><span class="date">2 aug. 2013 -</span> During a recent visit to HubSpot's headquarters, members of the <span class="span-em">Build</span> team got to see the remnants of one of the inbound marketing firm's ...</li>
            <li class="visit"></li>
        </ul>
        <ul class="search-results-5">
            <li class="main-link"><a href="#">How to Make a Website - Step-by-Step Guide for Beginners</a></li>
            <li class="second-link"><span class="span-link">website</span>setup.org/<a class="vertaal" href="#">Vertaal deze pagina</a></li>
            <li class="description">Learn how to make a <span class="span-em">website</span> and set it up. This site contains different tutorials on how to <span class="span-em">build</span> a <span class="span-em">website</span> using WordPress, Joomla, Drupal  HTML.</li>
            <li class="bottom-link"><a href="#">About  Support - Wordpress vs Joomla vs - How to sign up with Bluehost</a></li>
        </ul>
        <ul class="search-results-6">
            <li class="main-link"><a href="#">Watch this webpage code itself. : InternetIsBeautiful - Reddit</a></li>
            <li class="second-link">https://www.reddit.com/.../watch_this_webpage_code...</li>
            <li class="description"><span class="date">1 apr. 2015 -</span> 1630. 1631. Medal of BeautyWatch this webpage code itself. (codepen.io). submitted 5 months ago by fyrie · 58 comments; share. loading.</li>
        </ul>
        <ul class="search-results-7">
            <li class="main-link"><a href="#">How I Built This Website - Phil's Old Radios</a></li>
            <li class="second-link">antiqueradio.org/howto.htm<a class="vertaal" href="#">Vertaal deze pagina</a></li>
            <li class="description">You don't need an expensive computer to <span class="span-em">build</span> a <span class="span-em">website</span>. What you need is a machine that can connect to the Internet and do basic text editing and image ...</li>
        </ul>
        <ul class="search-results-8">
            <li class="main-link"><a href="#">Professional Links regarding Rheumatoid Arthritis and ...</a></li>
            <li class="second-link">www.livingwithrheumatoidarthritis.com/Professional...<a class="vertaal" href="#">Vertaal deze pagina</a></li>
            <li class="description">When I decided to <span class="span-em">build this webpage</span> I had never attempted anything of this type before. Without the help of Site Build It this task would have been out of my ...</li>
        </ul>
        <ul class="search-results-9">
            <li class="main-link"><a href="#">BuiltWith Technology Lookup</a></li>
            <li class="second-link">builtwith.com/<a class="vertaal" href="#">Vertaal deze pagina</a></li>
            <li class="description">Find out what a <span class="span-em">website</span> is built with. ... <span class="span-em">Build</span> lists of websites from our database of 13,641+ web technologies and over a quarter of a billion websites showing ...</li>
        </ul>
        <ul class="search-results-10">
            <li class="main-link"><a href="#">About This Website | Courtney Milan, Historical Romance ...</a></li>
            <li class="second-link">www.courtneymilan.com/aboutsite.php<a class="vertaal" href="#">Vertaal deze pagina</a></li>
            <li class="description">You can buy it for $39.99 from <span class="span-em">this website</span>. If you want to use it, just give it a range of colors--I said blue, purple, red--and sit back, and it will <span class="span-em">build</span> everything up ...</li>
        </ul>
    </div>
    <div class="related">
        <ul class="related-list">
            <li class="intro">xx 相关搜索</li>
            <li class="related-link"><a href="#"><span class="related-bold">how to</span> build <span class="related-bold">a web page</span></a></li>
            <li class="related-link"><a href="#">build <span class="related-bold">a web page for dummies</span></a></li>
        </ul>
    </div>
    <div class="search-pages">
        <table>
            <tr>
                <td class="table-font td-front"><span class="page-go"></span><span class="1">1</span></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>2</a></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>3</a></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>4</a></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>5</a></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>6</a></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>7</a></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>8</a></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>9</a></td>
                <td class="table-font"><a href="#"><span class="page-o"></span>10</a></td>
                <td class="table-font"><a href="#"><span class="page-gle"></span><span class="volgende">下一页</span></a></td>
            </tr>
        </table>
    </div>
</section>
<footer>
    <ul class="top-footer">
        <li class="top-footer location"><span class="circle"></span>Utrecht - Uit uw telefoon (locatiegeschiedenis)</li>
        <li class="top-footer"><a href="#">- Precieze locatie gebruiken</a></li>
        <li class="top-footer"><a href="#">- Meer informatie</a></li>
    </ul>
    <br/>
    <ul class="bottom-footer">
        <li class="bottom-footer"><a href="#">Help</a></li>
        <li class="bottom-footer"><a href="#">Feedback verzenden</a></li>
        <li class="bottom-footer"><a href="#">Privacy</a></li>
        <li class="bottom-footer"><a href="#">Voorwaarden</a></li>
        <li class="bottom-footer"><a href="#">Google.com gebruiken</a></li>
    </ul>
</footer>
</body>
</html>